<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
</head>
<body>
    <%- include('partials/nav') %>
    
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-6">
                <%- include('partials/driver_standings', { standings: driverStandings }) %>
            </div>
            <div class="col-md-6">
                <%- include('partials/constructor_standings', { standings: constructorStandings }) %>
            </div>
        </div>
    </div>
    
    <%- include('partials/footer') %>
</body>
</html> 